@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111418 !important;
}
html {
  scroll-behavior: smooth;
}
/* Set the default color scheme to light mode */
@media (prefers-color-scheme: light) {
  body {
    background-color: #fff;
    color: #000;
  }
}

/* Set the color scheme to dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1f2937;
    color: #fff;
  }
}

/* Toggle color scheme when the `dark` class is added to the HTML `body` element */
body.dark {
  background-color: #1f2937;
  color: #fff;
}
